<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'tasks')}">
    <body>
        <div class="container">
            <h1>Task statistics</h1>
            <select data-header="name" id="task-select">
                <option value>choose task</option>
                <option th:each="task : ${tasks}" th:value="${task.getId()}" th:text="${task.getName()}">

                </option>
            </select>
            <p id="taskName">下記に表示されます</p>
            <table class="table table-hover" id="info-table">
                <thead><th>Date</th><th>User</th><th>Progress</th><th>Actual time</th><th>Comment</th></thead>
                <tbody></tbody>
            </table>
        </div>
        <script>
            var trTemplate = '<td data-header="report_date"></td><td data-header="person.username"></td><td class="text-right"><span data-header="today_progress"></span>%</td><td class="text-right"><span data-header="actual_time"></span>h</td><td data-header="comment"></td>'
            new Listener('onchange', byid('task-select'))
                    .filter(get(element(), 'value'))
                    .update({'header': {
                            'task.id': get(element(), 'value'),
                            'show_log': true
                        }})
                    .to(modal(byid('loading-modal'), 'open'))
                    .task(server('/task-info'))
                    .to(modal(byid('loading-modal'), 'close'))
                    .to(log())
                    .to(dataHeaderToTable(header('entries'), byid("info-table"), trTemplate));
        </script>
    </body>
</html>
